<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <!-- provide a null payment gateway for tests -->
        <service id="paymentGatewayConfigurationServiceProvider" class="PhpCommerce\Common\Payment\Service\PaymentGatewayConfigurationServiceProviderImpl">
            <call method="setGatewayConfigurationServices">
                <argument type="collection">
                    <argument type="service" id="nullPaymentGatewayConfigurationService"/>
                </argument>
            </call>
        </service>

        <!-- Null Payment Provider -->
        <service id="nullPaymentGatewayConfiguration" class="PhpCommerce\Common\Payment\Tests\NullPaymentGatewayConfigurationImpl"></service>
        <service id="nullPaymentGatewayRollbackService" class="PhpCommerce\Common\Payment\Tests\NullPaymentGatewayRollbackServiceImpl"></service>
        <service id="nullPaymentGatewayTransactionService" class="PhpCommerce\Common\Payment\Tests\NullPaymentGatewayTransactionServiceImpl"></service>
        <service id="nullPaymentGatewayConfigurationService" class="PhpCommerce\Common\Payment\Tests\NullPaymentGatewayConfigurationServiceImpl">
            <property name="configuration" type="service" id="nullPaymentGatewayConfiguration"/>
            <property name="rollbackService" type="service" id="nullPaymentGatewayRollbackService"/>
            <property name="transactionService" type="service" id="nullPaymentGatewayTransactionService"/>
        </service>
    </services>
</container>